<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">
        <h2>Añadir nuevo alumno</h2>
        <form (ngSubmit)="onSubmit()" #formpro="ngForm">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" ngModel name="nombre">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" ngModel name="apellido">
            </div>
            <div class="form-group">
                <label for="numerodecuenta">Numero de Cuenta</label>
                <input type="text" class="form-control" id="numerodecuenta" ngModel name="numerodecuenta">
            </div>
            <div class="form-group">
                <label for="carrera">Carrera</label>
                <input type="text" class="form-control" id="carrera" ngModel name="carrera">
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="number" class="form-control" id="telefono" ngModel name="telefono">
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <i class="fa fa-check-circle check" *ngIf="email.valid"></i>
                <i class="fa fa-exclamation-circle uncheck" *ngIf="email.invalid && email.touched"></i>
                <input type="text" class="form-control" id="email" ngModel name="email" required email #email="ngModel">
                <p class="alert alert-danger" *ngIf="email.invalid && email.touched">
                    Por favor introduzca una dirección de correo correcta.
                </p>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!formpro.valid">Añadir Alumno</button>
            <p class="alert alert-danger " *ngIf="!formpro.valid">
                Por favor complete todos los campos
            </p>
            <hr>

        </form>
        <hr>
        <pre>{{ alumno | json }} </pre>
    </div>
</div>